<div class="card-body border-bottom py-3 d-flex">
    <div id="bulk-actions">
        {% if model_resource.bulk_actions %}
            <span class="dropdown">
                <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport"
                        data-bs-toggle="dropdown">
                  {{ _('bulk_actions') }}
                </button>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    {% for action in model_resource.bulk_actions %}
                        {% set url = request.app.admin_path + '/' + resource +'/'+ action.name %}
                        <div
                                class="dropdown-item"
                                onclick="onBulkAction('{{ url }}','{{ action.method }}')"
                        >
                    <i class="{{ action.icon }} me-2"></i>
                    {{ action.label }}
                  </div>
                    {% endfor %}
                </div>
              </span>
        {% endif %}
    </div>
    <div id="toolbar-actions" class="ms-auto btn-list">
        {% for action in model_resource.toolbar_actions %}
            <a class="btn {{ action.class_ }}"
               href="{{ request.app.admin_path }}/{{ resource }}/{{ action.name }}">
                <i class="{{ action.icon }} me-2"></i>
                {{ action.label }}
            </a>
        {% endfor %}
    </div>
</div>
