{% extends "admin/layout.html" %}
{% block page_body %}
    <div class="col-12">
        <div class="card">
            {% block table_header %}
                {% include "admin/dashboard/table_header.html" %}
                {% include "admin/dashboard/table_actions.html" %}
            {% endblock %}
            {% block table_body %}
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap datatable">
                        {% include "admin/dashboard/row_labels.html" %}
                        <tbody>
                        {% for value in rendered_values %}
                            {% with value=value, index=loop.index0  %}
                                {% include "admin/dashboard/row.html" %}
                            {% endwith %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endblock %}
            {% include "admin/dashboard/table_footer.html" %}
        </div>
    </div>
    <script>
        function onAction(url, method) {
            $.ajax({
                url: url,
                method: method,
                success: function () {
                    location.reload();
                },
            });
        }

        function onBulkAction(url, method) {
            let ids = $('.checkbox-select-item:checked').map(function () {
                return $(this).attr('data-id')
            }).get();

            if (method === "GET") {
                query = ids.map(val => `ids=${val}`).join("&");
                window.location.href = url + "?" + query;
                return;
            }

            if (ids.length > 0) {
                console.log(ids);
                let query = ids.map(val => `ids=${val}`).join("&");
                $.ajax({
                    url: url + '?' + query,
                    method: method,
                    success: function () {
                        location.reload();
                    },
                });
            }
        }

        let checkbox = $('#checkbox-select-all');
        let bulk_actions = $('#bulk-actions').hide();

        checkbox.change(function () {
            let checked = checkbox.prop('checked');
            $('.checkbox-select-item').prop("checked", checked);
            if (checked) {
                bulk_actions.show();
            } else {
                bulk_actions.hide();
            }
        });
        $('.checkbox-select-item').change(function () {
            let length = $('.checkbox-select-item:checked').length;
            if (length === 0) {
                bulk_actions.hide();
            } else {
                bulk_actions.show();
            }
        });
    </script>

{% endblock %}
